<!DOCTYPE html>
  <!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/navstyle.css' %}">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <!--<title>Dashboard Sidebar Menu</title>--> 
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="logo.png" alt="">-->
                </span>

                <div class="text logo-text">
                    <span class="name">Keep Up</span>
                    <span class="profession">Hello, {{request.user}}</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">


                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{% url 'Homepage' %}">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Homepage</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'Tasks' %}">
                            <i class='bx bx-clipboard icon' ></i>
                            <span class="text nav-text">Tasks</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'Calendar' %}">
                            <i class='bx bx-calendar icon'></i>
                            <span class="text nav-text">Calendar</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'Courses' %}">
                            <i class='bx bx-book-bookmark icon' ></i>
                            <span class="text nav-text">Courses</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'Links' %}">
                            <i class='bx bx-globe icon' ></i>
                            <span class="text nav-text">Links</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'Schedule' %}">
                            <i class='bx bx-alarm icon' ></i>
                            <span class="text nav-text">Schedule</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'Study Mode' %}">
                            <i class='bx bx-book-reader icon' ></i>
                            <span class="text nav-text">Study Mode</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="{% url 'Log out' %}">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                
            </div>
        </div>

    </nav>

    <section class="home">
        <div class="text">Keep Up</div>
    </section>

    <script>
        const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
    sidebar.classList.toggle("close");
})

searchBtn.addEventListener("click" , () =>{
    sidebar.classList.remove("close");
})
    </script>

</body>
</html>