<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
</head>

<body>
    {% include 'components/navbar.html' %}
    <section class="home">
        <div class="text2">
            <div style="position:sticky;width: 100%;top: 0;background-color: #fff;">
                <button class="button">
                    <a href="{% url 'Add Course' %}">
                        Add course
                    </a>
                </button>
            </div>
            <table>
                <caption>Courses</caption>
                <thead>
                    <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Important Chapters</th>
                        <th scope="col">Chapters done</th>
                        <th scope="col">Chapters left</th>
                        <th scope="col"> </th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in course_list %}
                    <tr>
                        <td data-label="Subject">{{ item.subject }}</td>
                        <td data-label="Important">{{ item.important|default_if_none:'' }}</td>
                        <td data-label="Done">{{ item.done|default_if_none:'' }}</td>
                        <td data-label="Left">{{ item.left|default_if_none:'' }}</td>
                        <td data-label="Edit">
                            <button class="button">
                                <a href="{% url 'Edit Course' item.id %}">
                                    Edit
                                </a>
                            </button>
                        </td>
                        <td data-label="Delete">
                            <button class="button">
                                <a href="{% url 'Delete Course' item.id %}">
                                    Delete
                                </a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>