<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
</head>
<body>
    {% include 'components/navbar.html' %}
    <section class="home">
        <div class="text">Keep Up</div>
        <div class="text2">
            <div class="quote">
                "{{ quote.quote }}"
            </div>
            <div class="author">
                -{{ quote.author }}
            </div>
        </div>
    </section>
</body>
</html>