<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Links</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
</head>

<body>
  {% include 'components/navbar.html' %}
  <section class="home">
    <div class="text2">
      <div style="position:sticky;top: 0; width:fit-content; background-color: #fff;">
        <div class="btns">
          <button>
            <a href="{% url 'Add Link' %}">
              Add Link
            </a>
          </button>
        </div>
      </div>
      <div style="font-size: 1.5em; text-align:center;">
        LINKS
      </div>
      <div class="container">
        {% for item in link_list %}
        <div class="box">
          <div class="image">
            <img src="{{ item.link }}favicon.ico">
          </div>
          <div class="name_job">{{ item.name }}</div>
          <div class="btns1">
            <button>
              <a href="{{ item.link }}">
                Visit
              </a>
            </button>
          </div>
          <div class="btns">
            <button>
              <a href="{% url 'Edit Link' item.id %}">
                Edit
              </a>
            </button>
            <button>
              <a href="{% url 'Delete Link' item.id %}">
                Delete
              </a>
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</body>

</html>